---
Checks: >
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: '(^|/)(include/etesca|src)/.*\.hpp$'
FormatStyle: none

...
